@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
}
.container, .row{
  min-height: inherit;
}

header{
  min-height: 60px;
}

header nav a{
  color: #fff;
  padding: 0 12px;
}
