@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
}

.bg-peru{
    background-color: #b1912e;
}

.logo-img{
    width: 60px;
    height: 60px;
    background-image: url('./images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}
